# Shaquille Obomeghie

## Content List

1. Import Data 
2. Groupby Department and find the mean of the entire dataframe 
3. Create loyalty flag for existing customers using transform and loc() function
4. Check for spending habit of each loyalty category 
5. Targeting spenders in the marketing campaigns

In [1]:
#Import Libraries 
import pandas as pd
import numpy as np 
import os

# 1. Imports database

In [2]:
path = r'/Users/shaquillelee/Documents/Instacart Basket Analysis'

In [4]:
#Import #ords_prods_merge
ords_prods_merge  = pd.read_pickle(os.path.join(path,'Data', 'Prepared Data', 'new_ords_prods_merge.pkl'))

In [8]:
ords_prods_merge.shape

(32406041, 18)

In [17]:
ords_prods_merge.head()

,order_id,user_identity_number,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_day,Busiest_days,busiest_period_of_the_day,max_order
0,2539329.0,1.0,1.0,2.0,8.0,7.0,196,1.0,0.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Regularly busy,Average Orders,10.0
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Slowest days,Average Orders,10.0
2,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Slowest days,Most Orders,10.0
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Least Busy,Slowest days,Average Orders,10.0
4,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Least Busy,Slowest days,Most Orders,10.0

# 2. Groupby Department and find the mean of the entire dataframe

In [13]:
# Finding the mean of the order number grouped by the department id
ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.213779
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.171095
12.0             15.887671
13.0             16.583536
14.0             16.771241
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

The difference between the output gotten from this and the output gotten from the subset of 1000000 is that with subset we only found the means of 8 departments compare to the entire datafram of 21 departments.

# 3 Create loyalty flag for existing customers using transform and loc() function

In [16]:
# Create a loyalty flag using the transform function to get the max number 
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_identity_number'])['order_number'].transform(np.max)

/var/folders/z4/snghvzgj29jd9tc1ph3523_h0000gn/T/ipykernel_51945/448549323.py:2: FutureWarning: The provided callable <function amax at 0x10f3059e0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_identity_number'])['order_number'].transform(np.max)

In [19]:
ords_prods_merge.head(15)

,order_id,user_identity_number,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_day,Busiest_days,busiest_period_of_the_day,max_order
0,2539329.0,1.0,1.0,2.0,8.0,7.0,196,1.0,0.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Regularly busy,Average Orders,10.0
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Slowest days,Average Orders,10.0
2,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Slowest days,Most Orders,10.0
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Least Busy,Slowest days,Average Orders,10.0
4,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Least Busy,Slowest days,Most Orders,10.0
5,3367565.0,1.0,6.0,2.0,7.0,19.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Regularly busy,Average Orders,10.0
6,550135.0,1.0,7.0,1.0,9.0,20.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Busiest days,Most Orders,10.0
7,3108588.0,1.0,8.0,1.0,14.0,14.0,196,2.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Busiest days,Most Orders,10.0
8,2295261.0,1.0,9.0,1.0,16.0,0.0,196,4.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Busiest days,Most Orders,10.0
9,2550362.0,1.0,10.0,4.0,8.0,30.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Least Busy,Slowest days,Average Orders,10.0
10,2968173.0,15.0,15.0,1.0,9.0,7.0,196,2.0,0.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Busiest days,Most Orders,22.0
11,1870022.0,15.0,17.0,2.0,16.0,8.0,196,6.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Regularly busy,Most Orders,22.0
12,1911383.0,15.0,18.0,2.0,11.0,7.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Regularly busy,Most Orders,22.0
13,2715276.0,15.0,21.0,1.0,9.0,7.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Busiest days,Most Orders,22.0
14,487368.0,15.0,22.0,1.0,10.0,14.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Busiest days,Most Orders,22.0

In [21]:
# If max order is > 40 that the loyalty flag shows loyal customer
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [25]:
# If max order is euals to or less than 40 or greater than 10 that the loyalty flag shows regular customer 
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40)  & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular Customer'

In [74]:
# If max order is less than or equal to 10 that the loyalty flag shows new customer
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New Customer'

In [28]:
# Statics of the loyalty flag 
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular Customer    15877395
Loyal customer      10284396
New Customer         6244250
Name: count, dtype: int64

In [29]:
ords_prods_merge.head()

,order_id,user_identity_number,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_day,Busiest_days,busiest_period_of_the_day,max_order,loyalty_flag
0,2539329.0,1.0,1.0,2.0,8.0,7.0,196,1.0,0.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Regularly busy,Average Orders,10.0,New Customer
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Slowest days,Average Orders,10.0,New Customer
2,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Regularly busy,Slowest days,Most Orders,10.0,New Customer
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Least Busy,Slowest days,Average Orders,10.0,New Customer
4,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range Products,Least Busy,Slowest days,Most Orders,10.0,New Customer

# 4 Check for spending habit of each loyalty category

In [39]:
# Finding the statistics of the various types of customers under the loyalty flag 
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean', 'max', 'min']})

                     prices
                       mean      max  min
loyalty_flag
Loyal customer    10.386229  99999.0  1.0
New Customer      13.294406  99999.0  1.0
Regular Customer  12.495501  99999.0  1.0

# 5 Targeting spenders in the marketing campaigns

In [44]:
# Create a loyalty flag using the transform function to get the mean number of prices 
ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_identity_number'])['prices'].transform(np.mean)

/var/folders/z4/snghvzgj29jd9tc1ph3523_h0000gn/T/ipykernel_51945/3064327352.py:2: FutureWarning: The provided callable <function mean at 0x10f306700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_identity_number'])['prices'].transform(np.mean)

In [56]:
ords_prods_merge.head(15)

,order_id,user_identity_number,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,Busiest_day,Busiest_days,busiest_period_of_the_day,max_order,loyalty_flag,average_price,Spending
0,2539329.0,1.0,1.0,2.0,8.0,7.0,196,1.0,0.0,Soda,...,9.0,both,Mid-range Products,Regularly busy,Regularly busy,Average Orders,10.0,New Customer,6.367797,Low Spender
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,Soda,...,9.0,both,Mid-range Products,Regularly busy,Slowest days,Average Orders,10.0,New Customer,6.367797,Low Spender
2,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,Soda,...,9.0,both,Mid-range Products,Regularly busy,Slowest days,Most Orders,10.0,New Customer,6.367797,Low Spender
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,Soda,...,9.0,both,Mid-range Products,Least Busy,Slowest days,Average Orders,10.0,New Customer,6.367797,Low Spender
4,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,Soda,...,9.0,both,Mid-range Products,Least Busy,Slowest days,Most Orders,10.0,New Customer,6.367797,Low Spender
5,3367565.0,1.0,6.0,2.0,7.0,19.0,196,1.0,1.0,Soda,...,9.0,both,Mid-range Products,Regularly busy,Regularly busy,Average Orders,10.0,New Customer,6.367797,Low Spender
6,550135.0,1.0,7.0,1.0,9.0,20.0,196,1.0,1.0,Soda,...,9.0,both,Mid-range Products,Regularly busy,Busiest days,Most Orders,10.0,New Customer,6.367797,Low Spender
7,3108588.0,1.0,8.0,1.0,14.0,14.0,196,2.0,1.0,Soda,...,9.0,both,Mid-range Products,Regularly busy,Busiest days,Most Orders,10.0,New Customer,6.367797,Low Spender
8,2295261.0,1.0,9.0,1.0,16.0,0.0,196,4.0,1.0,Soda,...,9.0,both,Mid-range Products,Regularly busy,Busiest days,Most Orders,10.0,New Customer,6.367797,Low Spender
9,2550362.0,1.0,10.0,4.0,8.0,30.0,196,1.0,1.0,Soda,...,9.0,both,Mid-range Products,Least Busy,Slowest days,Average Orders,10.0,New Customer,6.367797,Low Spender
10,2968173.0,15.0,15.0,1.0,9.0,7.0,196,2.0,0.0,Soda,...,9.0,both,Mid-range Products,Regularly busy,Busiest days,Most Orders,22.0,Regular Customer,3.980556,Low Spender
11,1870022.0,15.0,17.0,2.0,16.0,8.0,196,6.0,1.0,Soda,...,9.0,both,Mid-range Products,Regularly busy,Regularly busy,Most Orders,22.0,Regular Customer,3.980556,Low Spender
12,1911383.0,15.0,18.0,2.0,11.0,7.0,196,1.0,1.0,Soda,...,9.0,both,Mid-range Products,Regularly busy,Regularly busy,Most Orders,22.0,Regular Customer,3.980556,Low Spender
13,2715276.0,15.0,21.0,1.0,9.0,7.0,196,1.0,1.0,Soda,...,9.0,both,Mid-range Products,Regularly busy,Busiest days,Most Orders,22.0,Regular Customer,3.980556,Low Spender
14,487368.0,15.0,22.0,1.0,10.0,14.0,196,1.0,1.0,Soda,...,9.0,both,Mid-range Products,Regularly busy,Busiest days,Most Orders,22.0,Regular Customer,3.980556,Low Spender

In [52]:
#If the average price of spending is less than 10 then its a low spender 
ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'Spending' ] = 'Low Spender'

In [75]:
# If the average price of spending is greater or  equals to 10 then its a high spender 
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'Spending' ] = 'High Spender'

In [55]:
#Checking the frequency of the flag
ords_prods_merge['Spending'].value_counts(dropna = False)

Spending
Low Spender     31771789
High Spender      634252
Name: count, dtype: int64

# 7. Create a flag using the transform function to get the median

In [57]:
# Creating a flag for the median days since prior order for customers 
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_identity_number'])['days_since_prior_order'].transform(np.median)

/var/folders/z4/snghvzgj29jd9tc1ph3523_h0000gn/T/ipykernel_51945/285694231.py:1: FutureWarning: The provided callable <function median at 0x10f43c9a0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_price'] = ords_prods_merge.groupby(['user_identity_number'])['days_since_prior_order'].transform(np.median)

In [69]:
ords_prods_merge.head(15)

,order_id,user_identity_number,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,Busiest_day,Busiest_days,busiest_period_of_the_day,max_order,loyalty_flag,average_price,Spending,median_days_since_prior_order,order_regularity
0,2539329.0,1.0,1.0,2.0,8.0,7.0,196,1.0,0.0,Soda,...,Mid-range Products,Regularly busy,Regularly busy,Average Orders,10.0,New Customer,6.367797,Low Spender,20.0,Regular customer
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,Soda,...,Mid-range Products,Regularly busy,Slowest days,Average Orders,10.0,New Customer,6.367797,Low Spender,20.0,Regular customer
2,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,Soda,...,Mid-range Products,Regularly busy,Slowest days,Most Orders,10.0,New Customer,6.367797,Low Spender,20.0,Regular customer
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,Soda,...,Mid-range Products,Least Busy,Slowest days,Average Orders,10.0,New Customer,6.367797,Low Spender,20.0,Regular customer
4,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,Soda,...,Mid-range Products,Least Busy,Slowest days,Most Orders,10.0,New Customer,6.367797,Low Spender,20.0,Regular customer
5,3367565.0,1.0,6.0,2.0,7.0,19.0,196,1.0,1.0,Soda,...,Mid-range Products,Regularly busy,Regularly busy,Average Orders,10.0,New Customer,6.367797,Low Spender,20.0,Regular customer
6,550135.0,1.0,7.0,1.0,9.0,20.0,196,1.0,1.0,Soda,...,Mid-range Products,Regularly busy,Busiest days,Most Orders,10.0,New Customer,6.367797,Low Spender,20.0,Regular customer
7,3108588.0,1.0,8.0,1.0,14.0,14.0,196,2.0,1.0,Soda,...,Mid-range Products,Regularly busy,Busiest days,Most Orders,10.0,New Customer,6.367797,Low Spender,20.0,Regular customer
8,2295261.0,1.0,9.0,1.0,16.0,0.0,196,4.0,1.0,Soda,...,Mid-range Products,Regularly busy,Busiest days,Most Orders,10.0,New Customer,6.367797,Low Spender,20.0,Regular customer
9,2550362.0,1.0,10.0,4.0,8.0,30.0,196,1.0,1.0,Soda,...,Mid-range Products,Least Busy,Slowest days,Average Orders,10.0,New Customer,6.367797,Low Spender,20.0,Regular customer
10,2968173.0,15.0,15.0,1.0,9.0,7.0,196,2.0,0.0,Soda,...,Mid-range Products,Regularly busy,Busiest days,Most Orders,22.0,Regular Customer,3.980556,Low Spender,8.0,Frequent customer
11,1870022.0,15.0,17.0,2.0,16.0,8.0,196,6.0,1.0,Soda,...,Mid-range Products,Regularly busy,Regularly busy,Most Orders,22.0,Regular Customer,3.980556,Low Spender,8.0,Frequent customer
12,1911383.0,15.0,18.0,2.0,11.0,7.0,196,1.0,1.0,Soda,...,Mid-range Products,Regularly busy,Regularly busy,Most Orders,22.0,Regular Customer,3.980556,Low Spender,8.0,Frequent customer
13,2715276.0,15.0,21.0,1.0,9.0,7.0,196,1.0,1.0,Soda,...,Mid-range Products,Regularly busy,Busiest days,Most Orders,22.0,Regular Customer,3.980556,Low Spender,8.0,Frequent customer
14,487368.0,15.0,22.0,1.0,10.0,14.0,196,1.0,1.0,Soda,...,Mid-range Products,Regularly busy,Busiest days,Most Orders,22.0,Regular Customer,3.980556,Low Spender,8.0,Frequent customer

In [65]:
# if the median days since prior order is more than 20 is a non frequent customer
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'order_regularity'] = 'Non-frequent customer'

In [67]:
# if the median days since prior order is higher than 10 or lower than equals to 20 is a regular customer
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] > 10) & (ords_prods_merge['median_days_since_prior_order'] <= 20) , 'order_regularity'] = 'Regular customer'

In [68]:
# if the median days since prior order is lower than or equals to 10 then its a frequent customer
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'order_regularity'] = 'Frequent customer'

In [71]:
# Frequency of order regularity of customers
ords_prods_merge['order_regularity'].value_counts(dropna = False)

order_regularity
Frequent customer        22790800
Regular customer          6928407
Non-frequent customer     2686834
Name: count, dtype: int64

In [73]:
# Export dataframe as pickle 
ords_prods_merge.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'ords_prods_group.pkl'))