# Shaquille Ohomeghie

### Content list

1. Import Libraries
2. Load Data 
3. Merge the df_ords_prior and df_ords dataframe

### 1.Import Libaries

In [1]:
# Import libraries 
import pandas as pd
import numpy as np 
import os

### 2. Load data

In [2]:
# Load orders_products_prior data 
df_ords_prior = pd.read_csv(r'/Users/shaquillelee/Downloads/orders_products_prior.csv')

In [3]:
# Path to df_ords
path  = r'/Users/shaquillelee/Documents/Instacart Basket Analysis'

In [4]:
# Load df_ords
df_ords = pd.read_csv(os.path.join(path, 'Data' , 'Prepared Data', 'orders_data_checked.csv'),index_col = 0)

In [5]:
# Check the output 
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [18]:
# Check for missing data 
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [6]:
# Check Data Shape
df_ords_prior.shape

(32434489, 4)

In [7]:
# Check the output of df_ords
df_ords.head()

,order_id,user_identity_number,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,7.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [8]:
df_ords.shape

(3421083, 6)

#### 3. Merge the df_ords_prior and df_ords dataframe

In [9]:
# Merging the two data sets 
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [10]:
#Check merged data
df_merged_large.head()

,order_id,user_identity_number,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [11]:
# Check merged data Shape
df_merged_large.shape

(32434489, 10)

In [12]:
#Check Merged data value count
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [13]:
df_merged_large_2 = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how = 'outer')

In [14]:
df_merged_large_2.head()

,order_id,user_identity_number,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196.0,1.0,0.0,both
1,2539329,1,1,2,8,7.0,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,7.0,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,7.0,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,7.0,26405.0,5.0,0.0,both

In [15]:
df_merged_large_2['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [16]:
#Export data to pkl 
df_merged_large.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))